
header {
    display: flex;
   align-items: inherit;
}

header h1 {
    font-size: 1.5em;
    border: 1px gray solid;

}


nav button {
    text-align: center;
    font-size: 1em;
    padding: 5px 10px 5px 10px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.4s;
    background-color: green;
    
}
nav button:hover {
    background-color: red;
    color: lightgreen;
  }
    
 nav ul {
    display: flex;
    justify-content: inline;
}

nav li {
    display: block;
    width: 60px;
    margin: 0px;
}